
.HomePageContainer{
  background-color: var(--black--);
  width: 60%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
}
.HomePageContainer>h2{
  color: var(--white--);
  margin: 10px 0 5px 0;
}
.HomePageContainer>p{
  color: var(--white--);
}
.HomePageContainer>h4{
  color: var(--white--);
  margin-bottom: 3px;
}
.divImgImc{
  width: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
}
.divImgImc>img{
  width: 100%;

}



.testIMC{
  color: white;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}
.testIMC>h5{
  grid-column: 1/3;
}
.testIMC>form{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.testIMC>form>input{
  width: 160px;
  height: 25px;
  border: none;
  border-radius: 5px;
}
.testIMC>form>button{
  width: 80px;
  height: 30px;
  border: solid rgb(17, 100, 155) 1px;
  border-radius: 5px;
  background-color: transparent;
  color: var(--white--);
  margin-top: 10px;
}
.testIMC>form>button:hover{
  background-color: rgb(17, 100, 155);
}

.Denutrition{
  color: rgb(61, 108, 134);
}
.maigreur{
  color: rgb(28, 93, 146);
}
.poids{
  color: var(--white--);
}
.surpoids{
  color: #FFCDAC;
}
.modérée{
  color: #FFCD09;
}
.sévère{
  color: #FF7809;
}
.morbide{
  color: #FF1C09;
}